<!doctype html>
<html lang="en">

<head>
    <title>Task Management</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/styles/global.css">
    <link rel="stylesheet" href="../assets/styles/sign-up.css">
</head>

<body>
    <main class="container d-flex justify-content-center align-items-center">
        <form id="signUpForm" method="post" action=""
            class="sign-up bg-main-orange text-center w-fit p-5 rounded d-flex flex-column justify-content-center align-items-center text-white">
            <h1 class="fw-bold text">Task Management</h1>
            <span class="d-block mb-5 text">Start organizing your life day by day</span>
            <div class="input-group mb-3">
                <input name="username" minlength="3" minlength="20" required type="text" placeholder="Username"
                    class="d-block w-100 form-control rounded" aria-label="user name">
                <span class="d-block error-message text-start mt-1"></span>
            </div>
            <div class="input-group mb-2">
                <input name="password" minlength="5" minlength="12" required type="password" placeholder="Password"
                    class="d-block w-100 form-control rounded" aria-label="password">
                <span class="d-block error-message error-message text-start mt-1"></span>
            </div>
            <span id="finalErrorMessage" class="d-block error-message text-center"></span>
            <input required type="submit" name="sign-up" id="signUpBtn"
                class="sign-up__btn btn main-btn-red mt-3 mb-3 w-100" role="button" value="sign up"></input>
            <span class="d-block">Already have an account? <a href="sign-in.html"
                    class="sign-in__redirect text-main-red page-content">Sign in here</a></span>
        </form>
    </main>
    <script src="../assets/scripts/sign-up-validate.js"></script>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>