body {
    background-image: url("../images/pattern.webp");
    background-size: cover;
    background-color: hsl(38, 82%, 60%, .2);
}

body>.container {
    min-height: 100vh;
}

#signUpForm {
    max-width: 439px;
}

.sign-up>input::placeholder {
    color: var(--main-gray-clr);
    transition: .3s;
}

.sign-up input:focus::placeholder {
    opacity: 0;
}

.error-message {
    color: #B22222;
    position: relative;
    padding-left: .8rem;
}

.error-message.has-error::before {
    content: "* ";
    position: absolute;
    left: 0;
    top: 1.5px;
    color: #B22222;
    font-size: 1.2rem;
}

#finalErrorMessage {
    padding-left: 0;
}